@font-face {
  font-family: "Futura";
  src: url(Futura Medium.otf) format("opentype");
  font-family: "LucidaGrande";
  src: url(LucidaGrande.ttf) format("truetype");
}

header {
	position:fixed;left: 0px; top: 0px;
	z-index: 100;
}

footer {
  position: absolute; left: 0px; top: 3376px;
  width: 1440px;
  height: 164px;
  background-color: #000000;
}


#recuadro_menu {
  position: absolute; left: 0px; top: 0px;
	padding-top: 0;
	width: 915px;
	height: 80px;
	background-color: #000000;
}


#recuadro_opciones {
	position: absolute; left: 0px; top: 0px;
	width: 525px;
	height: 80px;
	background-color: #000000;
}

.navigation{
	position: absolute; left: 915px; top: 0px;
}


.navigation li {
	display: inline;
}


.navigation li a {
  float: left;
	margin:14px 36px 14px 0px;
  font-family: Futura;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.navigation li a:hover {
  color:black;
  background-color: white;
  margin-top: -2;
  padding-bottom: 2px;
}

a:link { 
  text-decoration:none; 
} 

#recuadro_2 {  
  width: 1440px;
  height: 470px;
  background-color: #000000;
}

#Presentacion {
  width: 475px;
  height: 46px;
  font-family: Futura;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}

#Equipo {
  width: 255px;
  height: 46px;
  font-family: Futura;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}

#Precios {
  width: 115px;
  height: 46px;
  font-family: Futura;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}

p{
  width: 1024px;
  height: 177px;
  font-family: LucidaGrande;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

#rectangulo_foto {
  width: 270px;
  height: 270px;
  background-color: red;
}

#rectangulo_slide {
	width: 863px;
  height: 566px;
  background-color: red;
}

.redonda {
  width:256px;
  height:256px;
  border-radius:142px;
  border:14px solid #0a0a0a;
}

#title {
  font-family: Futura;
  font-size: 30px;
  color: #333333;
}

#subtitle {
  font-family: Futura;
  width: 250px;
  font-size: 26px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #9b9b9b;
}

#logo_precios {
  width: 570px;
  height: 496px;
}







